<nz-header class="logo">
    <div >Miljö</div>
    <nz-menu nzTheme="light" nzMode="horizontal">
    <nz-menu-item>Your Waste</nz-menu-item>
    <nz-menu-item>Your Sector</nz-menu-item>
    <nz-menu-item>About</nz-menu-item>
    <nz-menu-item>Courses</nz-menu-item>
    <button class="collect-button">Collect Waste</button>
    </nz-menu>
</nz-header>

    <nz-content>
        <div class="hero">
        <h1>Find University Based on your Acadmics</h1>
        <div class="icons">
            <i nz-icon nzType="fire"></i>
            <i nz-icon nzType="recycle"></i>
            <i nz-icon nzType="factory"></i>
        </div>
        </div>
        <div class="grid">
        <nz-card nzTitle="Recycling for a better world">
            <p>Reduce & reuse waste</p>
        </nz-card>
        <nz-card nzTitle="Green office management course">
            <p>Improve efficiency and minimize waste</p>
        </nz-card>
        </div>
    </nz-content>
